snippet cpp
.PHONY: clean

CC = g++
CFLAGS = -c -Wall
LDFLAGS = 
SOURCES = $1
OBJECTS = $(SOURCES:.cc = .o)
EXECUTABLE = $2

all: $(SOURCES) $(EXECUTABLE)

$(EXECUTABLE): $(OBJECTS) 
	$(CC) $(LDFLAGS) $(OBJECTS) -o $@

.cpp.o:
	$(CC) $(CFLAGS) $< -o $@

clean:
	rm *.o
endsnippet
